/* ShadCn edits this file during initialisation. go to https://ui.shadcn.com/themes to customise a theme or just do it here manually :) */

/* Test Söhne Regular */
@font-face {
  font-family: 'Test Söhne';
  src: url('/fonts/Test%20Söhne/test-soehne-buch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Test Söhne Italic */
@font-face {
  font-family: 'Test Söhne';
  src: url('/fonts/Test%20Söhne/test-soehne-buch-kursiv.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* Test Söhne Bold */
@font-face {
  font-family: 'Test Söhne';
  src: url('/fonts/Test%20Söhne/test-soehne-fett.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Test Söhne Bold */
@font-face {
  font-family: 'Test Söhne';
  src: url('/fonts/Test%20Söhne/test-soehne-fett-kursiv.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

/* Test Söhne Light */
@font-face {
  font-family: 'Test Söhne';
  src: url('/fonts/Test%20Söhne/test-soehne-leicht.woff2') format('woff2');
  font-weight: 300; /* Light font weight */
  font-style: normal;
}

/* Test Söhne Light Italic */
@font-face {
  font-family: 'Test Söhne';
  src: url('/fonts/Test%20Söhne/test-soehne-leicht-kursiv.woff2') format('woff2');
  font-weight: 300; /* Light font weight */
  font-style: italic;
}

/* Test Söhne Breit Medium */
@font-face {
  font-family: 'Test Söhne';
  src: url('/fonts/Test%20Söhne/test-soehne-kraftig.woff2') format('woff2');
  font-weight: 500; /* Medium font weight */
  font-style: normal;
}

/* Test Söhne Breit Medium Italic */
@font-face {
  font-family: 'Test Söhne';
  src: url('/fonts/Test%20Söhne/test-soehne-kraftig-kursiv.woff2') format('woff2');
  font-weight: 500; /* Medium font weight */
  font-style: italic;
}

/* Test Söhne Breit Semi-Bold */
@font-face {
  font-family: 'Test Söhne Breit';
  src: url('/fonts/Test%20Söhne%20Breit/test-soehne-breit-halbfett.woff2') format('woff2');
  font-weight: 600; /* Semi-bold font weight */
  font-style: normal;
}

/* Test Söhne Mono Regular */
@font-face {
  font-family: 'Test Söhne Mono';
  src: url('/fonts/Test%20Söhne%20Mono/test-soehne-mono-buch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Test Söhne Mono Italic */
@font-face {
  font-family: 'Test Söhne Mono';
  src: url('/fonts/Test%20Söhne%20Mono/test-soehne-mono-buch-kursiv.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* Test Söhne Mono Bold */
@font-face {
  font-family: 'Test Söhne Mono';
  src: url('/fonts/Test%20Söhne%20Mono/test-soehne-mono-fett.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Test Söhne Mono Light */
@font-face {
  font-family: 'Test Söhne Mono';
  src: url('/fonts/Test%20Söhne%20Mono/test-soehne-mono-leicht.woff2') format('woff2');
  font-weight: 300; /* Light font weight */
  font-style: normal;
}

/* Test Söhne Mono Light Italic */
@font-face {
  font-family: 'Test Söhne Mono';
  src: url('/fonts/Test%20Söhne%20Mono/test-soehne-mono-leicht-kursiv.woff2') format('woff2');
  font-weight: 300; /* Light font weight */
  font-style: italic;
}

/* Test Söhne Mono Medium */
@font-face {
  font-family: 'Test Söhne Mono';
  src: url('/fonts/Test%20Söhne%20Mono/test-soehne-mono-halbfett.woff2') format('woff2');
  font-weight: 600; /* Medium font weight */
  font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 41,57%,95%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 41 25% 98%;

    --secondary: 41 25% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 41 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 41 25% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.3rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Test Söhne Mono', sans-serif;
  }
  
}