.listing-container{
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  width: 200px;
}

.listing-container h3{
  margin: 0;
}

.listing-container img{
  width: 200px;
}