.header {
  width: 100%;
  top: 0;
  position: sticky;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items:start;
  padding: 0px; /* Add padding as needed */
  background-color: #ffffff; /* Add background color as needed */
  color: white; /* Add text color as needed */
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.logo-container {
  flex: 1; /* Make the logo container flexible to push the logo to the left */
  padding: 20px;
  
}

#logo {
  z-index: 800;
  height:20vh; /* Set the desired height for the logo */
  width: auto; /* Allow the width to adjust proportionally */
  /* Add any additional styles for the logo image */
}

/* Add any additional styles for the MenuButton or other header content */
