.header {
  width: 100%;
  top: 0;
  position: sticky;
  background-color: #ffffff;
  color: black;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.logo-container {
  flex: 1;
  padding: 20px;
  
}

#logo {
  z-index: 800;
  height:20vh;
  width: auto;
}
