.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  position: sticky;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: black;
  transition: 0.5s;
  z-index: 9;
}

.wrapper {
  padding: 15px;
}

#logo {
  height: 100px;
  width: auto;
}

#logo:hover {
  transition: 200ms;
  opacity: 75%;
}

#inventory-button{
  margin: 5px 80px;
  width: 200px;
  height: 30px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: white;
}

#inventory-button:hover{
  cursor: pointer;
  background-color:#1c867f;
  transition: 200ms;
  color: white;
}
