@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400&family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}